</div>
                    <!-- end container -->

                    <div class="footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="pull-right hidden-xs">
                                        Project Completed <strong class="text-custom">43%</strong>.
                                    </div>
                                    <div>
                                        <strong>Simple Admin</strong> - Copyright &copy; 2017
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end footer -->

                </div>
                <!-- End #page-right-content -->

                <div class="clearfix"></div>

            </div>
            <!-- end .page-contentbar -->
        </div>
        <!-- End #page-wrapper -->

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="<?=PUBLIC_PATH?>/assets/js/jquery-2.1.4.min.js"></script>
        <script src="<?=PUBLIC_PATH?>/assets/js/bootstrap.min.js"></script>
        <script src="<?=PUBLIC_PATH?>/assets/js/jquery.slimscroll.min.js"></script>

        <!-- App Js -->
        <script src="<?=PUBLIC_PATH?>/assets/js/jquery.app.js"></script>
    </body>
</html>