<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="utf-8" />
        <title><?=APP_NAME?> - <?=$this->title?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        
        <link rel="mask-icon" href="<?=PUBLIC_PATH?>/assets/images/favicon.ico" color="#8f0000">
        <link rel="shortcut icon" href="<?=PUBLIC_PATH?>/assets/images/favicon.ico">

        <!-- Bootstrap core CSS -->
        <link href="<?=PUBLIC_PATH?>/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Icons CSS -->
        <link href="<?=PUBLIC_PATH?>/assets/css/icons.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="<?=PUBLIC_PATH?>/assets/css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- HOME -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="wrapper-page">
                            <div class="m-t-40 card-box">
                                <div class="text-center">
                                    <h2 class="text-uppercase m-t-0 m-b-30">
                                        <a href="<?=AJAX_BASE_URL?>" class="text-success">
                                            <span><img src="<?=PUBLIC_PATH?>/assets/images/logo_dark.png" alt="" height="30"></span>
                                        </a>
                                    </h2>
                                    <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                                </div>
                                
                                <div class="account-content">
                                    <div class="text-center m-b-20">
                                        <p class="text-muted m-b-0 line-h-24">Enter your User Id or Mobile No and we'll send you an sms with instructions to reset your password.</p>
                                    </div>

                                    <?=$this->form->form_open(array('class'=>'form-horizontal'))?>
                                        <div class="form-group m-b-20">
                                            <div class="col-xs-12">
                                                <label for="username">User Id or Mobile No</label>
                                                <input class="form-control" type="phone" name="username" id="username" required="" placeholder="Enter your User Id or Mobile No">
                                            </div>
                                        </div>

                                        <div class="form-group account-btn text-center m-t-10">
                                            <div class="col-xs-12">
                                                <button class="btn btn-lg btn-custom btn-block" type="submit">Reset Password</button>
                                            </div>
                                        </div>                                  
                                    <?=$this->form->form_close()?>
                                </div>
                            </div>
                            <!-- end card-box-->

                            <div class="row m-t-50">
                                <div class="col-sm-12 text-center">
                                    <p class="text-muted">Back to <a href="<?=APP_PATH?>/login" class="text-dark m-l-5">Sign In</a></p>
                                </div>
                            </div>

                        </div>
                        <!-- end wrapper -->
                    </div>
                </div>
            </div>
        </section>
        <!-- END HOME -->

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="<?=PUBLIC_PATH?>/assets/js/jquery-2.1.4.min.js"></script>
        <script src="<?=PUBLIC_PATH?>/assets/js/bootstrap.min.js"></script>
        <script src="<?=PUBLIC_PATH?>/assets/js/jquery.slimscroll.min.js"></script>

		<script>
            var ajax_url = '<?=AJAX_URL?>';
            var ajax_base_url = '<?=AJAX_BASE_URL?>';
            var csrf_token = '<?=Session::get('token')?>';            
        </script>
		
        <!-- App Js -->
        <script src="<?=PUBLIC_PATH?>/assets/js/jquery.app.js"></script>
    </body>
</html>